fastapi
uvicorn
pydantic
pydantic-settings
faiss-cpu
sentence-transformers
google-generativeai
python-docx
pypdf
numpy
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
sqlalchemy
python-multipart
email-validator
pdfplumber
